@import "../_variables.module.scss";
@import "../_palette.module.scss";

header {
  .header {
    &__container {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      margin: 2.4rem auto;
      @include z-index(header);
    }
    &__siteName {
      margin-left: 6rem;
      text-align: left;
      @include font(3rem, 3rem, 0.32rem);
    }
  }
}
