@import "./_variables.module.scss";
@import "./_palette.module.scss";

%sectionTitle {
  @include font(6rem, 5.7rem, 0.63rem);
  @include media(sp) {
    @include font(4rem, 4rem, 0.63rem);
  }
}
%normalText {
  @include font(1.5rem, 3.6rem, 0.27rem);
  @include media(sp) {
    @include font(1.4rem, 3rem, 0.1rem);
    br {
      display: none;
    }
  }
}
%background {
  @include z-index(background);
  height: 100vh;
  background-size: cover;
}

html,
body {
  position: relative;
  font-size: 10px;
  color: $font-primary;

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: $font-primary;
  }

  section {
    position: relative;

    .index {
      &__container {
        height: 100vh;
        @extend %background;
        background-image: url("../images/background-index.jpg");
      }
      &__title {
        @extend %sectionTitle;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80%;
        height: 3.2rem;
      }
    }

    .about {
      &__container {
        height: 100vh;
        @extend %background;
        background-image: url("../images/background-about.jpg");

        p {
          margin: 0 14%;
        }
        @include media(sp) {
          height: auto;
          background-size: cover;
          background-position: 50% 0;
          box-sizing: border-box;
          display: inline-block;
        }
      }
      &__name {
        position: absolute;
        top: 20%;
        right: 0;
        left: 0;
        @include media(sp) {
          position: static;
          margin-top: 25%;
        }
        &__name {
          padding: 0 0 2.4rem 0;
          @include font(3.2rem, 3.3rem, 1.2rem);
          @include media(sp) {
            @include font(7vw, 10vw, 4vw);
          }
        }
        &__ocupation {
          @include font(2.7rem, 3.6rem, 1rem);
          @include media(sp) {
            @include font(5.4vw, 4vw, 2.2vw);
            color: $font-light;
          }
        }
      }
      &__text {
        @extend %normalText;
        position: absolute;
        top: 53%;
        right: 0;
        left: 0;
        @include media(sp) {
          position: static;
          margin-top: 18%;
        }
        &__title {
          @include font(2.5rem, 2.8rem, 0.5rem);
          padding: 0 0 2.7rem 0;
          @include media(sp) {
            @include font(5.7vw, 10vw, 2vw);
            padding: 5% 0;
          }
        }
      }
      &__link {
        position: absolute;
        top: 86%;
        right: 14%;
        @include media(sp) {
          position: static;
          text-align: center;
          margin: 20% 0 20% 0;
        }
      }
    }

    .service {
      &__container {
        @include z-index(background);
        position: absolute;
        top: 0;
        right: 0;
        height: 134vh;
        width: 86%;
        background-image: url("../images/background-service.jpg");
        background-size: auto 134vh;
        background-repeat: no-repeat;
        background-position: 100% 0;

        @include media(tab) {
          width: 100%;
        }
        @include media(sp) {
          display: none;
        }
        &__mobile {
          @include media(sp) {
            @include z-index(default);
            height: auto;
            width: 100%;
            background-image: url("../images/background-service.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 100% 0;
            padding-bottom: 20%;
          }
        }
      }
      &__title {
        @extend %sectionTitle;
        position: absolute;
        top: 14%;
        margin: 0 14%;
        @include media(sp) {
          position: static;
          padding: 20% 0 12% 0;
        }
      }
      &__element {
        @include font(1.4rem, 3.3rem, 0.23rem);
        &__title {
          &__design {
            position: absolute;
            top: 29%;
            left: 34%;
            @include font(12rem, 7.5rem, 0.83rem);
            opacity: 0.2;

            @include media(sp) {
              position: static;
              padding: 8% 0 4% 0;
              @include font(9vw, 10vw, 1.5vw);
              text-align: center;
              opacity: 1;
            }
          }
          &__backend {
            position: absolute;
            top: 89%;
            left: 14%;
            @include font(12rem, 7.5rem, 0.83rem);
            opacity: 0.2;

            @include media(sp) {
              position: static;
              padding: 8% 0 4% 0;
              @include font(9vw, 10vw, 1.5vw);
              text-align: center;
              opacity: 1;
            }
          }
        }
        &__text {
          &__design {
            position: absolute;
            top: 42%;
            left: 14%;
            width: 48rem;
            text-align: justify;

            @include media(sp) {
              position: static;
              padding: 0 15% 2% 15%;
              width: 100%;
            }
          }
          &__backend {
            position: absolute;
            top: 71%;
            left: 30%;
            width: 48rem;
            text-align: justify;
            @include media(tab) {
              right: 14%;
            }
            @include media(sp) {
              position: static;
              padding: 0 15% 2% 15%;
              width: 100%;
            }
          }
        }
      }
    }

    .experience {
      &__container {
        @include media(sp) {
          margin: 0 14%;
        }
      }
      &__title {
        @extend %sectionTitle;
        position: absolute;
        top: 18%;
        right: 14%;
        @include media(tab) {
          top: 22%;
        }
        @include media(sp) {
          display: none;
        }
        &__mobile {
          @include font(11vw, 10vw, 1.8vw);
          padding: 30% 0 12% 0;
          opacity: 0.5;
        }
      }
      &__career {
        position: absolute;
        top: 32%;
        left: 14%;
        width: 80%;
        display: flex;
        flex-direction: row;
        list-style: none;
        @include media(tab) {
          top: 35%;
        }
        @include media(sp) {
          display: none;
        }
        &__year {
          @include font(1.9rem, 2.5rem, 0.3rem);
          padding: 0 1% 0 0;
          li:last-child {
            padding-top: 10%;
          }
        }
        &__line {
          border-left: 0.05rem solid $font-light;
          padding: 0 0 0 2%;
        }
        &__content {
          @include font(1.9rem, 2.5rem, 0.3rem);
        }

        &__mobile {
          display: none;
          padding-bottom: 20%;
          @include media(sp) {
            display: block;
            list-style: none;
            span {
              display: block;
            }
            li {
              margin: 10% 0;
            }
            &__year {
              @include font(1.6rem, 2rem, 0.2rem);
            }
            &__content {
              @include font(1.8rem, 2rem, 0.2rem);
              margin: 5% 0 0 0%;
              padding-left: 5%;
              border-left: 0.05rem solid $font-light;
            }
          }
        }
      }
      &__skills {
        position: absolute;
        top: 37%;
        right: 14%;
        text-align: right;
        @include media(tab) {
          top: 42%;
        }
        @include media(sp) {
          display: none;
        }
        &__element {
          margin: 18% 0;
          @include media(sp) {
            margin: 18% 0 0 0;
          }
        }
        &__title {
          @include font(4.1rem, 3.6rem, 0.63rem);
          margin-bottom: 2.5rem;
          margin-top: 12%;
          @include media(sp) {
            @include font(9.5vw, 10vw, 1.8vw);
            margin: 5% 0;
          }
        }
        &__line {
          border-bottom: 0.05rem solid $font-light;
          margin: 3% 0 3% 24%;
          @include media(sp) {
            margin: 5% 10% 10% 10%;
          }
        }
        &__subtitle {
          @include font(1.6rem, 2rem, 0.2rem, 600);
          margin-top: 10%;
          @include media(sp) {
            margin-top: 15%;
          }
        }
        &__text {
          @include font(1.8rem, 2.8rem, 0.2rem);
        }

        &__mobile {
          display: block;
          text-align: center;
        }
      }
    }

    .projects {
      &__container {
        height: 100vh;
        @extend %background;
        background-color: $background-light;
      }
      &__title {
        @extend %sectionTitle;
        text-align: center;
        padding-top: 7%;
        @include media(tab) {
          padding-top: 17%;
        }
        @include media(sp) {
          padding-top: 20%;
        }
      }
    }

    .contact {
      &__container {
        height: 100vh;
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 14%;
        word-break: break-all;
      }
      &__title {
        @extend %sectionTitle;
      }
      &__mail {
        @include font(2.1rem, 3rem, 0.2rem);
        margin-top: 2rem;
        @include media(sp) {
          @include font(1.6rem, 2.8rem, 0.2rem);
        }
      }
    }
  }

  section.service {
    height: 100vh;
    @include media(sp) {
      height: auto;
    }
  }
  section.experience {
    height: 140vh;
    @include media(tab) {
      height: 120vh;
    }
    @include media(sp) {
      height: auto;
    }
  }
}
